@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Inter', sans-serif;
    --cor: #8E2424;
    --cor2: #667085;
    --cor3: #EAECF0;
    --cor4: #C3191908;
}

.body, html {
    font-family: var(--font);
}

.container {
    margin: 0 1.25rem 0 1.25rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 6em;
}

.header__logo {
    display: flex;
    padding: .5em;
}

.header__logo h1 {
    font-size: 1.12rem;
    font-weight: 500;
    padding: .2em;
}

header li {
    list-style-type: none;
    padding-bottom: .6em;
    text-align: center;
}

header a {
    text-decoration: none;
    padding: .62em 1.25em;
    white-space: nowrap;
    font-weight: 500;
    color: var(--cor2);
}

header a:hover {
    color: black;
}

.menu-2__lista li:last-child a {
    background-color: var(--cor);
    color: white;
    border-radius: .5em;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 .5em 6.68em .5em;
}

.cabecalho span {
    color: var(--cor);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1.5em;
}

.cabecalho h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.25rem;
}

.cabecalho p {
    max-width: 790px;
    font-size: 1.25rem;
    color: var(--cor2);
    text-align: center;
    line-height: 1.5em;
}

.metricas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    margin-bottom: 6em;
}

.metricas__metrica {
    padding: 0.5em;
} 

.metricas__metrica h1 {
    color: var(--cor);
    font-size: 3.75rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.metricas__metrica h2 {
    font-size: 1.12rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.metricas__metrica p {
    color: var(--cor2);
    font-size: 1rem;
    line-height: 1.5em;
}

.vagas {
    display: flex;
    flex-direction: column;
    margin: 0 .5em 0 .5em;
}

.vagas__talentos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 4em;
}

.vagas__talentos span {
    color: var(--cor);
    font-weight: 500;
    font-size: 1rem;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 1em;
    padding: .25em .75em;
    margin-bottom: 1.25rem;
}

.vagas h1 {
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

.vagas p {
    color: var(--cor2);
    font-size: 1.25rem;
    margin-bottom: 4rem;
}

.vagas img {
    max-width: 100%;
    height: auto;
}

.vagas__vagas-abertas {
    width: 70%;
    margin: auto;
}

.vagas__vagas-abertas__secao {
    margin-bottom: 4em;
}

.vagas__vagas-abertas__secao h1 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.vagas__vagas-abertas__secao__job-post {
    border: 1px solid var(--cor3);
    border-radius: 1em;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.vagas__vagas-abertas__secao__job-post h2 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.vagas__vagas-abertas__secao__job-post span {
    color: var(--cor2);
    font-size: 1em;
    font-weight: 500;
    margin-right: 1.5rem;
}

.depoimentos {
    background-color: var(--cor4);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 4em;
    border-radius: 1em;
}

.depoimentos span {
    color: var(--cor);
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.depoimentos h1 {
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

.depoimentos img {
    width: 56px;
    height: 56px;
    margin-bottom: 1rem;
}

.depoimentos h2 {
    font-weight: 500;
    margin-bottom: 0.25em;
}

.depoimentos p {
    color: var(--cor2);
    font-size: 0.875rem;
}

@media (min-width:600px) {
    header {
        display: flex;
        flex-direction: row;
    }
    
    .header__logo {
       align-self: flex-start;
       justify-self: flex-start;
    }

    header li {
        display: inline-block;
    }

    nav {
        margin-top: 0.8em;
    }

    .menu-1 {
        margin-left: 3em;
    }
    
    .menu-2 {
        margin-left: auto;
    } 
}

@media (min-width:900px) {
    .container {
        margin: 0 auto;
        width: 80%;
        max-width: 1440px;
    }
}