@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Inter', sans-serif;
    --cor: #8E2424;
    --cor2: #667085;
}

.container {
    margin: auto;
}/* 

header {
    display: flex;
    padding: .5em;
}

.header__logo {
    display: flex;
    padding: .5em;
}

.header__logo img {
    width: 30px;
    height: 30px;
}

.header__logo h1 {
    font-family: var(--font);
    font-size: 1.12rem;
    font-weight: 500;
    padding: .2em;
}

nav {
    padding: .9em;
}

header li {
    display: inline-block;
    padding-bottom: .5em;
}

header a {
    text-decoration: none;
    padding: .62em 1.25em;
    white-space: nowrap;
    font-family: var(--font);
    font-weight: 500;
    color: var(--cor2)
}

header a:hover {
    color: black;
}

.menu-1 {
    margin-left: 3em;
}

.menu-2 {
    margin-left: auto;
} 

.container {
    margin: auto;
}*/

header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 96px;
}

.header__logo {
    display: flex;
    padding: .5em;
}

.header__logo h1 {
    font-family: var(--font);
    font-size: 1.12rem;
    font-weight: 500;
    padding: .2em;
}

header li {
    list-style-type: none;
    padding-bottom: .6em;
    text-align: center;
}

header a {
    text-decoration: none;
    padding: .62em 1.25em;
    white-space: nowrap;
    font-family: var(--font);
    font-weight: 500;
    color: var(--cor2);
}

header a:hover {
    color: black;
}

.menu-2__list li:last-child a {
    background-color: var(--cor);
    color: white;
    border-radius: .5em;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0 10px 107px 10px;
}

.cabecalho span {
    color: var(--cor);
    font-family: var(--font);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 24px;
}

.cabecalho h1 {
    font-family: var(--font);
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 36px;
}

.cabecalho p {
    max-width: 790px;
    font-family: var(--font);
    font-size: 1.25rem;
    color: var(--cor2);
    text-align: center;
    line-height: 1.5em;
}

.metricas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    padding-bottom: 96px;
}

.metricas__metrica {
    padding: 10px;
} 

.metricas__metrica h1 {
    color: var(--cor);
    font-family: var(--font);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 12px;
}

.metricas__metrica h2 {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.metricas__metrica p {
    font-family: var(--font);
    font-size: 16px;
    line-height: 1.5em;
}

.vagas {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0 10px 0 10px;
}

.vagas span {
    color: var(--cor);
    font-family: var(--font);
    font-weight: 500;
    font-size: 1rem;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 4px 12px;
    margin-bottom: 20px;
}

.vagas h1 {
    font-family: var(--font);
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
}

.vagas p {
    font-family: var(--font);
    color: var(--cor2);
    font-size: 20px;
    margin-bottom: 64px;
}
.vagas img {
    max-width: 100%;
    height: auto;
}

@media (min-width:600px) {
    header {
        display: flex;
        flex-direction: row;
    }
    
    .header__logo {
       align-self: flex-start;
       justify-self: flex-start;
    }

    header li {
        display: inline-block;
    }

    nav {
        margin-top: 10px;
    }

    .menu-1 {
        margin-left: 3em;
    }
    
    .menu-2 {
        margin-left: auto;
    } 
}

@media (min-width:900px) {
    .container {
        width: 80%;
        max-width: 1440px;
    }
}